<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<preference for="Magento\Catalog\Block\Product\View\Gallery" type="DamConsultants\Bynder\Block\Product\View\Gallery" />
    <type name="Magento\Catalog\Block\Product\ImageFactory">
        <plugin disabled="false" name="DamConsultants_Bynder_Plugin_Frontend_Magento_Catalog_Block_Product_ImageFactory" sortOrder="10" type="DamConsultants\Bynder\Plugin\Frontend\Magento\Catalog\Block\Product\ImageFactory"/>
    </type>
</config>