<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">  
   <menu>
       <add id="DamConsultants_Bynder::menu"
           title="Bynder Sync. Log" module="DamConsultants_Bynder"
           sortOrder="10"
           resource="Magento_Backend::content"
           />
           <!-- START: new node -->
       <add id="DamConsultants_Bynder::menu_item"
           title="Action Log" module="DamConsultants_Bynder"
           sortOrder="10" parent="DamConsultants_Bynder::menu"
           action="bynder/index/grid"
           resource="DamConsultants_Bynder::menu_item"
           />
       <!-- END:   new node -->
        <!-- START: new node -->
       <add id="DamConsultants_Bynder::menu_item1"
           title="Bynder MetaProperty " module="DamConsultants_Bynder"
           sortOrder="10" parent="DamConsultants_Bynder::menu"
           action="bynder/index/metaproperty"
           resource="DamConsultants_Bynder::menu_item1"
           />
       <!-- END:   new node -->
   </menu>
</config> 